@charset "UTF-8";
@font-face {
  font-family: "PTSans-Regular";
  src: url("../../assets/fonts/PTSans-Regular.eot");
  src: local("☺"), url("../../assets/fonts/PTSans-Regular.woff") format("woff"), url("../../assets/fonts/PTSans-Regular.ttf") format("truetype"), url("../../assets/fonts/PTSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-Bold";
  src: url("../../assets/fonts/Cormorant-Bold.eot");
  src: local("☺"), url("../../assets/fonts/Cormorant-Bold.woff") format("woff"), url("../../assets/fonts/Cormorant-Bold.ttf") format("truetype"), url("../../assets/fonts/Cormorant-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CormorantInfant-Bold";
  src: url("../../assets/fonts/CormorantInfant-Bold.eot");
  src: local("☺"), url("../../assets/fonts/CormorantInfant-Bold.woff") format("woff"), url("../../assets/fonts/CormorantInfant-Bold.ttf") format("truetype"), url("../../assets/fonts/CormorantInfant-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CormorantInfant-Light";
  src: url("../../assets/fonts/CormorantInfant-Light.eot");
  src: local("☺"), url("../../assets/fonts/CormorantInfant-Light.woff") format("woff"), url("../../assets/fonts/CormorantInfant-Light.ttf") format("truetype"), url("../../assets/fonts/CormorantInfant-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CormorantInfant-Regular";
  src: url("../../assets/fonts/CormorantInfant-Regular.eot");
  src: local("☺"), url("../../assets/fonts/CormorantInfant-Regular.woff") format("woff"), url("../../assets/fonts/CormorantInfant-Regular.ttf") format("truetype"), url("../../assets/fonts/CormorantInfant-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CormorantInfant-SemiBold";
  src: url("../../assets/fonts/CormorantInfant-SemiBold.eot");
  src: local("☺"), url("../../assets/fonts/CormorantInfant-SemiBold.woff") format("woff"), url("../../assets/fonts/CormorantInfant-SemiBold.ttf") format("truetype"), url("../../assets/fonts/CormorantInfant-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-Italic";
  src: url("../../assets/fonts/Cormorant-Italic.eot");
  src: local("☺"), url("../../assets/fonts/Cormorant-Italic.woff") format("woff"), url("../../assets/fonts/Cormorant-Italic.ttf") format("truetype"), url("../../assets/fonts/Cormorant-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-Regular";
  src: url("../../assets/fonts/Cormorant-Regular.eot");
  src: local("☺"), url("../../assets/fonts/Cormorant-Regular.woff") format("woff"), url("../../assets/fonts/Cormorant-Regular.ttf") format("truetype"), url("../../assets/fonts/Cormorant-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=fonts.css.map */
