@charset "UTF-8";
@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata-Regular.eot");
  src: local("☺"), url("../fonts/Prata-Regular.woff") format("woff"), url("../fonts/Prata-Regular.ttf") format("truetype"), url("../fonts/Prata-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.eot");
  src: local("☺"), url("../fonts/Inter-Light.woff") format("woff"), url("../fonts/Inter-Light.ttf") format("truetype"), url("../fonts/Inter-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: local("☺"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot");
  src: local("☺"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.eot");
  src: local("☺"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype"), url("../fonts/Inter-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Light.eot");
  src: local("☺"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
h2, h3 {
  font-family: "Prata", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 50px;
  margin: 0;
}

h3 {
  font-size: 20px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.tittle {
  color: #303030;
  font-size: 40px;
}

.colored-button, .transparent-button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 100%;
  font-size: 14px;
  text-decoration: none;
  background: #303030;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  padding: 21px 0;
  transition: all 0.5s ease;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid #303030;
}
.colored-button:hover, .transparent-button:hover {
  background: #505050;
  border: 1px solid #505050;
  color: #FFFFFF;
}
.colored-button:active, .transparent-button:active {
  background: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}

.transparent-button {
  background: #FFFFFF;
  color: #303030;
}
.transparent-button:hover {
  background: #505050;
}
.transparent-button:active {
  background: #000000;
}

.navigation-arrow {
  position: relative;
  content: "";
  width: 52px;
  height: 52px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s ease;
}
.navigation-arrow svg {
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation-arrow:hover {
  background: #F5F5F5;
}
.navigation-arrow:active {
  background: #F5F5F5;
}
.navigation-arrow:active svg {
  margin: 0 0 0 8px;
}
.navigation-arrow.reverse {
  transform: rotate(180deg);
}

.small-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  width: fit-content;
  border-radius: 21px;
  padding: 13px 30px;
  color: #303030;
  background: #F0F0F0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.small-button:hover {
  background: #DDDDDD;
}
.small-button.active {
  color: #FFFFFF;
  background: #303030;
}

.square-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #303030;
  border: 1px solid #DADADA;
  padding: 9px 11px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.5s ease;
}
.square-button:hover {
  border: 1px solid #303030;
}
.square-button.active {
  color: #FFFFFF;
  background: #303030;
}

.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.like-button .like-icon {
  cursor: pointer;
}
.like-button .like-icon path {
  transition: all 0.5s ease;
}
.like-button .like-icon:hover path {
  fill: #979797;
}
.like-button .like-icon.active path {
  fill: #E24B33;
}
.like-button p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 100%;
  padding: 0 0 0 10px;
  transition: all 0.5s ease;
}
.like-button:hover .like-icon path {
  fill: #979797;
}
.like-button:hover p {
  color: #979797;
}
.like-button.active .like-icon path {
  fill: #E24B33;
}

.like-icon {
  cursor: pointer;
}
.like-icon path {
  transition: all 0.5s ease;
}
.like-icon:hover path {
  fill: #979797;
}
.like-icon.active path {
  fill: #E24B33;
}

.watch-icon {
  cursor: pointer;
}
.watch-icon path {
  transition: all 0.5s ease;
}
.watch-icon:hover path {
  fill: #979797;
}
.watch-icon.active path {
  fill: #E24B33;
}

.question-mark {
  position: relative;
  display: flex;
  width: 18px;
  height: 18px;
  margin: 0 0 0 200px;
}
.question-mark__description {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 14px);
  opacity: 0;
  z-index: -1;
  background: #FFFFFF;
  padding: 24px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  line-height: 140%;
  min-width: 271px;
  box-sizing: border-box;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.question-mark__description::before {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  content: "";
  width: 8px;
  height: 8px;
  background: #FFFFFF;
}
.question-mark__icon {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.question-mark__icon circle {
  transition: all 0.5s ease;
}
.question-mark:hover .question-mark__icon circle {
  fill: #D3D3D3;
}
.question-mark:hover .question-mark__description {
  opacity: 1;
  z-index: 1;
}

.product-card {
  position: relative;
  width: 310px;
  height: 370px;
  display: flex;
}
.product-card__unit {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  border: 1px solid #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px 24px 26px 24px;
  box-sizing: border-box;
  max-height: 370px;
  transition: all 0.5s ease;
  background: #FFFFFF;
}
.product-card__unit-slider {
  width: 200px;
  height: 200px;
  position: relative;
}
.product-card__unit-slider .slick-list {
  width: 200px;
  height: 200px;
}
.product-card__unit-slider .slick-list .slick-slide {
  width: 200px;
  height: 200px;
}
.product-card__unit-slider .slick-dots {
  width: 100%;
  position: absolute;
  bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-card__unit-slider .slick-dots li {
  position: relative;
  width: 6px;
  height: 6px;
  margin: 0 8px 0 0;
  text-indent: -9999px;
  background: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 50%;
  border: 1px solid #303030;
}
.product-card__unit-slider .slick-dots li.slick-active {
  background: #303030;
}
.product-card__unit .like-icon, .product-card__unit .watch-icon {
  position: absolute;
  right: 22px;
  top: 19px;
}
.product-card__unit .watch-icon {
  top: 52px;
}
.product-card__unit__stock {
  position: absolute;
  top: 16px;
  left: 24px;
  display: flex;
}
.product-card__unit__stock p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 100%;
  font-size: 13px;
  color: #FFFFFF;
  padding: 4px 12px;
  border-radius: 15px;
}
.product-card__unit__stock .sale {
  background: #5B8A8F;
  margin: 0 4px 0 0;
}
.product-card__unit__stock .hit {
  background: #E1A661;
}
.product-card__unit__description {
  display: flex;
  flex-direction: column;
}
.product-card__unit__description-price {
  display: flex;
  align-items: flex-end;
}
.product-card__unit__description-price h4 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 100%;
  font-size: 18px;
  color: #303030;
  margin: 0;
  padding: 0 8px 0 0;
}
.product-card__unit__description-price p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #8F8F8F;
  margin: 0;
  text-decoration: line-through;
}
.product-card__unit__description-price span {
  display: flex;
  margin: 0 0 0 auto;
  background: #E24B33;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 100%;
  font-size: 13px;
  padding: 4px 8px;
  color: #FFFFFF;
  border-radius: 15px;
}
.product-card__unit__description-specification {
  padding: 16px 0 0 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #303030;
  line-height: 160%;
}
.product-card__unit-type, .product-card__unit-size {
  transition: all 0.5s ease;
  max-height: 0;
  opacity: 0;
  margin: 0;
}
.product-card__unit:hover {
  max-height: 480px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}
.product-card__unit:hover .product-card__unit-type, .product-card__unit:hover .product-card__unit-size {
  max-height: 40px;
  opacity: 1;
  margin: 24px 0 0 0;
}
.product-card__unit:hover .product-card__unit-size {
  margin: 8px 0 0 0;
}
.product-card__unit:hover .colored-dropdown__selected {
  padding: 9px 16px;
}

.dropdown-wrapper {
  max-width: 197px;
}

.dropdown {
  width: 100%;
  position: relative;
}
.dropdown__selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: #F0F0F0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #303030;
  line-height: 160%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dropdown__selected-arrow {
  transition: all 0.5s ease;
}
.dropdown__list {
  opacity: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  width: max-content;
  padding: 0;
  transition: all 0.5s ease;
}
.dropdown__list-unit {
  display: flex;
  align-items: center;
  max-height: 0;
  padding: 0 24px;
  transition: all 0.5s ease;
  cursor: pointer;
  pointer-events: none;
}
.dropdown__list-unit p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  padding: 0 10px 0 0;
  color: #303030;
}
.dropdown__list-unit svg {
  transition: all 0.5s ease;
  opacity: 0;
}
.dropdown__list-unit.selected {
  background: #FAFAFA;
}
.dropdown__list-unit.selected svg {
  opacity: 1;
}
.dropdown.active .dropdown__selected {
  padding: 9px 16px;
}
.dropdown.active .dropdown__selected-arrow {
  transform: rotate(-180deg);
}
.dropdown.active .dropdown__list {
  opacity: 1;
  padding: 14px 0;
}
.dropdown.active .dropdown__list-unit {
  position: relative;
  z-index: 1;
  padding: 9px 24px;
  max-height: 32px;
  pointer-events: unset;
}

.transparent-dropdown__selected {
  background: none;
  padding: 12px 0;
  justify-content: flex-start;
}
.transparent-dropdown__selected p {
  padding: 0 8px 0 10px;
}
.transparent-dropdown.active .dropdown__selected {
  padding: 12px 0;
}

.header {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 0 20px 0;
}
.header__geolocation {
  width: 159px;
}
.header__geolocation .active .dropdown__selected {
  padding: 0;
}
.header__geolocation .dropdown__selected {
  padding: 0;
}
.header__geolocation .transparent-dropdown__selected p {
  max-width: 121px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header__callback {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #303030;
  margin: 0 0 0 60px;
}
.header__callback svg {
  margin: 0 10px 0 0;
}
.header__logo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.header__logo h2 {
  font-family: "Prata", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 32px;
  color: #303030;
}
.header__logo h2 span {
  color: #E1A661;
}
.header__logo p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 100%;
  font-size: 14px;
  color: #919191;
  letter-spacing: 0.27em;
  padding: 6px 0 0 0;
}
.header__logo.mobile {
  display: none;
}
.header__authorization {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__authorization a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #303030;
}
.header__authorization hr {
  position: relative;
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 10px;
  background: #303030;
  border: none;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 116px;
  align-items: center;
  margin: 0 0 0 70px;
}
.header__navigation a {
  height: 20px;
  display: flex;
  align-items: center;
}
.header__navigation-favorites {
  position: relative;
}
.header__navigation-favorites .count {
  position: absolute;
  top: -7px;
  right: -13px;
  width: 19px;
  height: 19px;
  content: "";
  border-radius: 50%;
  background: #E46942;
}
.header__navigation-favorites .count span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 100%;
  font-size: 10px;
  max-width: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #FFFFFF;
}
.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 23px 0 0 0;
  background: #F8F8F8;
  padding: 24px 50px;
}
.header__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13px;
}
.header__menu-list__unit {
  padding: 0 60px 0 0;
  display: block;
}
.header__menu-list__unit a {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  font-size: 13px;
  color: #303030;
  transition: all 0.5s ease;
}
.header__menu-list__unit:hover a {
  opacity: 0.5;
}
.header__menu-list__unit:last-child {
  padding: 0 50px 0 0;
}
.header__menu-search {
  position: relative;
  padding: 0 0 0 56px;
  height: 14px;
  display: flex;
  align-items: center;
}
.header__menu-search label {
  position: absolute;
  left: 26px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
}
.header__menu-search input {
  display: block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: #A2A2A2;
  height: 14px;
}
.header__menu-search input:focus {
  outline: none;
}
.header__menu-search::before {
  position: absolute;
  content: "";
  left: 0;
  top: -24px;
  height: 62px;
  width: 1px;
  background: #F0F0F0;
}

@media screen and (max-width: 1300px) {
  .header {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
  .header__menu {
    margin: 16px 0 0 0;
    padding: 16px 35px;
  }
  .header__menu-list__unit {
    padding: 0 35px 0 0;
  }
  .header__menu-list__unit:last-child {
    padding: 0 20px 0 0;
  }
  .header__menu-search {
    padding: 0 0 0 50px;
  }
  .header__menu-search label {
    left: 20px;
  }
  .header__menu-search input {
    width: 110px;
  }
  .header__menu-search::before {
    top: -16px;
    height: 46px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 10px 0;
  }
  .header__wrapper {
    position: absolute;
    top: 72px;
    right: -350px;
    max-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background: #FFFFFF;
    min-height: 100vh;
    box-shadow: -2px 6px 8px 0px rgba(34, 60, 80, 0.2);
    box-sizing: border-box;
    transition: all 0.5s ease;
    z-index: 2;
  }
  .header__callback, .header__navigation, .header__callback, .header__authorization, .header__geolocation {
    margin: 0 0 15px 0;
  }
  .header__menu {
    background: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .header__menu-list {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .header__menu-list__unit {
    padding: 0 0 15px 0;
  }
  .header__menu-list__unit:last-child {
    padding: 0 0 15px 0;
  }
  .header__menu-search {
    padding: 0 0 0 20px;
  }
  .header__menu-search:before {
    display: none;
  }
  .header__menu-search input {
    width: 100%;
  }
  .header__menu-search label {
    left: 0;
  }
  .header__logo {
    display: none;
    max-width: fit-content;
  }
  .header__logo.mobile {
    display: flex;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 10px;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .header__burger span {
    position: relative;
    content: "";
    width: 100%;
    height: 1px;
    background: #000000;
    pointer-events: none;
    transition: all 0.5s ease;
    margin: 0;
  }
  .header__background {
    position: fixed;
    top: 72px;
    right: 0;
    background: #000000;
    opacity: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease;
    pointer-events: none;
  }
  .header.active .header__burger span:nth-child(1) {
    transform: rotate(45deg);
    top: 4px;
  }
  .header.active .header__burger span:nth-child(2) {
    margin: 0 0 0 15px;
    opacity: 0;
  }
  .header.active .header__burger span:nth-child(3) {
    transform: rotate(-45deg);
    top: -5px;
  }
  .header.active .header__wrapper {
    right: 0;
  }
  .header.active .header__background {
    opacity: 0.5;
    z-index: 1;
  }
}
@media screen and (max-width: 992px) {
  .main-content {
    position: relative;
    z-index: 1;
    padding: 92px 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .main-content {
    padding: 72px 0 0 0;
  }
}
body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
}
.pre-header {
  position: relative;
}
.pre-header__slider {
  background: #F8F8F8;
}
.pre-header__slider-slide {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  max-height: 560px;
  position: relative;
}
.pre-header__slider-slide__left {
  position: relative;
  padding: 0 0 0 126px;
  z-index: 1;
}
.pre-header__slider-slide__left h3 {
  font-size: 20px;
}
.pre-header__slider-slide__left h2 {
  font-size: 50px;
  padding: 30px 0 54px 0;
}
.pre-header__slider-slide__right {
  display: block;
  max-width: 548px;
  max-height: 548px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 0 36px 0 0;
}
.pre-header__slider-slide__background {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.pre-header__navigation-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 48px);
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
}
.pre-header__navigation-dots {
  position: absolute;
  bottom: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.pre-header__navigation-dots ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.pre-header__navigation-dots ul li {
  position: relative;
  text-indent: -9999px;
  width: 6px;
  height: 6px;
  border: 1px solid #303030;
  border-radius: 50%;
  transition: all 0.5s ease;
  margin: 0 4px;
}
.pre-header__navigation-dots ul li.slick-active {
  background: #303030;
}

@media screen and (max-width: 1300px) {
  .pre-header__slider-slide__left {
    padding: 0 0 0 80px;
  }
  .pre-header__slider-slide__right {
    padding: 0 20px 0 0;
  }
  .pre-header__navigation-arrows {
    width: calc(100% - 24px);
    margin: 0 12px;
  }
}
@media screen and (max-width: 992px) {
  .pre-header__slider-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: unset;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .pre-header__slider-slide__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 0 0 20px;
  }
  .pre-header__slider-slide__left h3 {
    font-size: 20px;
  }
  .pre-header__slider-slide__left h2 {
    font-size: 50px;
    padding: 30px 0 54px 0;
  }
  .pre-header__slider-slide__right {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 20px;
    max-width: unset;
    max-height: unset;
    width: 40%;
    height: auto;
    object-fit: contain;
    padding: 0 20px 0 0;
    margin: 0 0 0 auto;
  }
  .pre-header__navigation-arrows {
    display: none;
  }
  .pre-header__navigation-dots {
    bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  #pre-header .container {
    padding: 0;
    width: 100%;
  }
  .pre-header__slider-slide {
    height: 350px;
  }
  .pre-header__slider-slide__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 0 0 10px;
  }
  .pre-header__slider-slide__left h3 {
    font-size: 16px;
  }
  .pre-header__slider-slide__left h2 {
    font-size: 40px;
    padding: 20px 0 40px 0;
  }
  .pre-header__slider-slide__left a {
    font-size: 14px;
    padding: 12px 0;
  }
  .pre-header__slider-slide__right {
    padding: 0 10px 0 0;
  }
  .pre-header__navigation-dots {
    bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .pre-header__slider-slide {
    height: auto;
    padding: 50px 0;
  }
  .pre-header__slider-slide__left {
    width: fit-content;
    align-self: center;
    padding: 0 10px;
  }
  .pre-header__slider-slide__left h3 {
    font-size: 18px;
  }
  .pre-header__slider-slide__left h2 {
    font-size: 30px;
    padding: 20px 0 30px 0;
  }
  .pre-header__slider-slide__left a {
    width: 100%;
    max-width: unset;
  }
  .pre-header__slider-slide__right {
    position: relative;
    padding: 20px 10px 0 10px;
    align-self: center;
    margin: 0;
  }
  .pre-header__navigation-dots {
    bottom: 10px;
  }
}
.popular-categories {
  padding: 120px 0 0 0;
  display: flex;
  flex-direction: column;
}
.popular-categories__list {
  margin: 0 -10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}
.popular-categories__list-unit {
  display: flex;
  margin: 20px 10px 0 10px;
  box-sizing: border-box;
  width: 200px;
  height: 259px;
  flex-shrink: 0;
}
.popular-categories__list-unit a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 36px 36px 25px 36px;
  background: #F8F8F8;
  box-sizing: border-box;
}
.popular-categories__list-unit a .image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.popular-categories__list-unit a .image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popular-categories__list-unit a p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  color: #303030;
  margin: auto 0 0 0;
  white-space: nowrap;
}

@media screen and (max-width: 1300px) {
  .popular-categories__list-unit {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .popular-categories__list {
    margin: 0 -10px;
  }
  .popular-categories__list-unit {
    margin: 10px 5px 0 5px;
    width: calc(33% - 10px);
  }
}
@media screen and (max-width: 576px) {
  .popular-categories__list-unit {
    width: 45%;
    min-height: 200px;
    height: auto;
  }
  .popular-categories__list-unit a {
    padding: 15px 15px 15px 15px;
  }
  .popular-categories__list-unit a .image-wrapper {
    width: 50%;
  }
  .popular-categories__list-unit a .image-wrapper img {
    width: 100%;
    height: auto;
  }
  .popular-categories__list-unit a p {
    white-space: unset;
  }
}

/*# sourceMappingURL=main-page.css.map */
