@mixin absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin inter-light{
  font-family: 'Inter',sans-serif;
  font-weight: 300;
  line-height: 100%;
}

@mixin inter-regular{
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  line-height: 100%;
}

@mixin inter-medium{
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  line-height: 100%;
}

@mixin inter-semi-bold{
  font-family: 'Inter',sans-serif;
  font-weight: 600;
  line-height: 100%;
}

@mixin prata-regular{
  font-family: 'Prata',sans-serif;
  font-weight: 400;
  line-height: 100%;
}